/* Hacker's Terminal */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

h2{
    color: rgb(0, 215, 0);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* width: 50vh; */
    border: 1px solid rgb(0, 215, 0);
}

