/* 
============================================
Google Font - Roboto Font
============================================
*/

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.roboto-thin {
  font-family: "roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-extralight {
  font-family: "roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-light {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-semibold {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-bold {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-extrabold {
  font-family: "roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.roboto-black {
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-extralight-italic {
  font-family: "roboto", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-semibold-italic {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-extrabold-italic {
  font-family: "roboto", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}