/* Utility CSS */

.border{
    border: 1px solid red;
    margin: 3px;
}

.bg-dark{
    background-color: #000;
    color: #fff;
}

.bg-gray{
    background-color: #121212;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 4px;
}

/* Margin */
.m-1{
    margin: 5px;
}

.m-2{
    margin: 10px;
}

.m-3{
    margin: 15px;
}

.m-4{
    margin: 20px;
}

.m-5{
    margin: 25px;
}

.m-6{
    margin: 30px;
}

/* Padding */
.p-1{
    padding: 5px;
}

.p-2{
    padding: 10px;
}

.p-3{
    padding: 15px;
}

.p-4{
    padding: 20px;
}

.p-5{
    padding: 25px;
}

.p-6{
    padding: 30px;
}

/* Padding Top */
.pt-1{
    padding-top: 5px;
}

.pt-2{
    padding-top: 10px;
}

.pt-3{
    padding-top: 15px;
}

.pt-4{
    padding-top: 20px;
}

.pt-5{
    padding-top: 25px;
}

.pt-6{
    padding-top: 30px;
}

/* Padding Bottom */
.pb-1{
    padding-bottom: 5px;
}

.pb-2{
    padding-bottom: 10px;
}

.pb-3{
    padding-bottom: 15px;
}

.pb-4{
    padding-bottom: 20px;
}

.pb-5{
    padding-bottom: 25px;
}

.pb-6{
    padding-bottom: 30px;
}

/* Padding Left */
.pl-1{
    padding-left: 5px;
}

.pl-2{
    padding-left: 10px;
}

.pl-3{
    padding-left: 15px;
}

.pl-4{
    padding-left: 20px;
}

.pl-5{
    padding-left: 25px;
}

.pl-6{
    padding-left: 30px;
}

/* Padding Right */
.pr-1{
    padding-right: 5px;
}

.pr-2{
    padding-right: 10px;
}

.pr-3{
    padding-right: 15px;
}

.pr-4{
    padding-right: 20px;
}

.pr-5{
    padding-right: 25px;
}

.pr-6{
    padding-right: 30px;
}
