*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.box{
    height: 40vh;
    width: 40vw;
    border: 1px solid #005c51;
    margin: 5px;
    padding: 5px;
}