*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    padding: 5px;
    border: 1px solid #ddd;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0, 0.5);
}

.card{
    width: 300px;
    background-color: #F4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
}

.card .img img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.dur{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    position:relative;
    float: right;
    bottom: 35px;
    right: 8px;
}

.card h3{
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}

.card p{
    font-size: 14px;
    color: #666;
    text-align: justify;
}

.card .chInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 2px 0;
    border-top: 1px solid #c7c7c7;
}

.chInfo .channelName, .views, .releasedTime{
    font-size: 12px;
    color: #000;
    margin-top: 5px;
}

/* Card Form Starts Here */
.form-container{
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
}

.form-container h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #333;
}
.form-container #cardForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#cardForm input{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

#cardForm input:focus{
    outline-style: none;
    border-bottom: 1px solid #000;
}

.form-container .add-cardBtn{
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #0068FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
